# .github/workflows/yaml.yml

# Built from the following examples:
# - https://www.shellcheck.net/wiki/GitHub-Actions
# - https://github.com/geerlingguy/ansible-role-docker/blob/master/.github/workflows/ci.yml

name: YAML
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  lint:
    name: Lint YAML files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
      #  with:
      #    python-version: '3.13'
      - name: Run yamllint
        run: |
          python3 -m pip install yamllint
          yamllint .
